body {
    background-image: url("../img/background_test.jpg");
    background-size: 75%;
}

.scrollable-list {
    vertical-align: top;
    height: 200px;
    width: 400px;
    overflow-y: scroll;
}

.button-bar {
    text-align: center;
    padding: 10px;
    margin: 50px;
}

.valueText {
    -webkit-font-smoothing: antialiased;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.download-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Bebas;
    flex: 1 1 auto;
    height: 45px;
    padding: 5px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(252, 202, 51) 0%, rgb(255, 115, 47) 51%, rgb(242, 76, 52) 100%);
}

.control-style {
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
    border: none;
    font-size: 20px;
    font-family: Bebas;
    flex: 1 1 auto;
    height: 45px;
    width: auto;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(252, 202, 51) 0%, rgb(255, 115, 47) 51%, rgb(242, 76, 52) 100%);
}

.control-style:hover {
    background-position: right center; /* change the direction of the change here */
}

.control-style select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.play-button {
    vertical-align: middle;
    background: url("../img/play_button.png") no-repeat;
    background-size: 100%;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    height: 50px;
    width: 50px;
    margin: 5px;
}

.stop-button {
    vertical-align: middle;
    background: url("../img/pause_button.png") no-repeat;
    background-size: 100%;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    height: 52px;
    width: 52px;
    margin: 5px;
}

.home-button {
    vertical-align: middle;
    background: url("../img/home_button.png") no-repeat;
    background-size: 100%;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    height: 60px;
    width: 60px;
    margin: 5px;
}

.reset-button {
    vertical-align: middle;
    background: url("../img/reset_button.png") no-repeat;
    background-size: 100%;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    height: 50px;
    width: 50px;
    margin: 5px;
}

table {
    margin: auto;
}

h1 {
    color: rgb(255, 115, 47);
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rgb(207, 126, 12);
    font-family: BebasNeue;
    font-size: 40px;
    margin: 2px;
}

h3 {
    color: rgb(207, 126, 12);
    font-family: Bebas;
    font-size: 35px;
    margin: 2px;
}

p {
    -webkit-font-smoothing: antialiased;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
}

span {
    -webkit-font-smoothing: antialiased;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    height: 7px;
    border-radius: 6px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

@font-face {
    font-family: BebasNeue;
    src: url("../webfonts/BebasNeue-Regular.otf");
}

@font-face {
    font-family: Bebas;
    src: url("../webfonts/Bebas-Regular.otf");
}

@font-face {
    font-family: Neufreit;
    src: url("../webfonts/Neufreit-ExtraBold.otf");
}

audio {
    vertical-align: middle;
    width: 190px;
    height: 40px;
    margin: 5px;
}